:root {
  --f7-color-bluemagenta: #1A1F1D;
}

.page-blue-magenta,
.bg-blue-magenta {
  background-color: #1A1F1D;
}

.color-bluemagenta {
  --f7-theme-color: #1A1F1D;
  --f7-theme-color-rgb: 26, 32, 29;
  --f7-theme-color-shade: #1b1b1b;
  --f7-theme-color-tint: #2B3330;
}